<div class="container contacts-container">
  <div class="introduction">
    <h2 class="text-center"><strong class="name">
      <%= current_user.first_name %></strong>, update your contacts!
    </h2>
  </div>
 <%= render "contacts/contact_form", contact: @contact %>
  <div class="tiny-wrapper">

    <div class="row contacts-box">
      <% @contacts.each do |contact| %>
      <%= form_for(contact, url: contact_path(id: contact.id), method: :patch) do |f| %>
      <div class="col-xs-12 contact-section">
        <% if  contact.contact.length > 20 %>

          <div class="long-contact-name text-center">
          <p><%= contact.contact %></p>
          </div>

        <% else  %>

          <div class="contact-name text-center">
          <p><%= contact.contact %></p>
          </div>

        <% end %>

        <div class="contact-container">
          <div>
             <h4 class='share-no'>no</h4>
           </div>

          <label class="switch pull-right">
            <%= f.check_box :share, class: "submit-interests" %>
            <span class="slider round"></span>
          </label>

          <div>
             <h4 class='share-yes'>yes</h4>
          </div>

        </div>

      <% end %>
        <div class="text-right">
          <%= link_to 'delete', contacts_path(id: contact.id),
            data: {:confirm => 'Are you sure?'}, method: :delete, class:"btn btn-primary btn-xs delete-btn" %>
        </div>
    </div>
      <% end %>
    </div>
  </div>
</div>
