 <% if current_user.location == "New York City" %>

<div class="col-xs-12 no-mp meal-card">
  <div class="active-meals-status confirmed">
    <p> <%= status %></p>
  </div>
  <div class="active-meals-card confirmed">
    <div class="active-meals-city-photo-newyork">
      <p> <%= meal.restaurant.location %> </p>
    </div>
    <div class="active-meals-date-confirmed">
      <h5>  <%= meal.reservation_date.strftime("%A") %></h5>
      <h4> <%= meal.reservation_date.day.ordinalize %> </h4>
      <!-- <h6> <%= meal.reservation_date.strftime("%B") %></h6> -->
      <h6>8:30 PM</h6>
    </div>
    <div class="active-meals-resturant-photo">
      <p> <%= meal.restaurant.name  %></p>
    </div>
  </div>
  <div class="active-meals-button confirmed">
    <h4> click for details </h4>
  </div>
</div>
  <% else %>
  <div class="col-xs-12 no-mp meal-card">
  <div class="active-meals-status confirmed">
    <p> <%= status %></p>
  </div>
  <div class="active-meals-card confirmed">
    <div class="active-meals-city-photo-lisbon">
      <p> <%= meal.restaurant.location %> </p>
    </div>
    <div class="active-meals-date-confirmed">
      <h5>  <%= meal.reservation_date.strftime("%A") %></h5>
      <h4> <%= meal.reservation_date.day.ordinalize %> </h4>
      <h6> <%= meal.reservation_date.strftime("%B") %></h6>
    </div>
    <div class="active-meals-resturant-photo">
      <p> <%= meal.restaurant.name  %></p>
    </div>
  </div>
  <div class="active-meals-button confirmed">
    <h4> click for details </h4>
  </div>
</div>
  <% end %>
