
<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-resturant"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-photos">
          <% @meal.users.each do |user| %>
            <%= cl_image_tag(user.photo, :class => "photo-avatar blur")%>
          <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-container text-center">
        <div class="meals-show-resturant">
          <h3> <%= @meal.restaurant.name %> </h3>
        </div>
        <div class="meals-show-rating">
          <ul class="list-inline stars">
              <% @meal.restaurant.rating.round.times do %>
                <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <% end %>
              <li class="review-rating">(<%= @meal.restaurant.rating %> out of 5 stars)</li>
            </ul>

        </div>
        <div class="meals-show-date">
          <ul class="list-inline no-mp meal-date">
            <li class="filler-word"><p>this</p></li>
            <li class="main-word"><p><%= @meal.reservation_date.strftime("%A") %></p></li>
            <li class="filler-word"><p>the</p></li>
            <li class="main-word"><p><%= @meal.reservation_date.day.ordinalize %></p></li>
            <li class="filler-word"><p>at</p></li>
            <li class="main-word"><p><%= @meal.reservation_date.strftime("%H %p") %></p></li>
          </ul>
        </div>
        <div class="meals-show-button">
          <div class="btn btn-primary confirm-button">
            <h2 class="no-mp text-align">confirm</h2>
          </div>
           <div class="btn btn-primary reject-button">
            <h2 class="no-mp text-align">reject</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-map">
        <div
          id="map"
          style=";width:50%; height: 500px;"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        ></div>
      </div>
    </div>
  </div>
</div>
