<div class="book-today-container">
  <div class="wrapper">
    <div class="upcoming-header text-center not-confirmed-stripe">
      <h3>pending confirmation</h3>
      <h5>you have <%= current_user.upcoming_unconfirmed_meals.length %> meals for review</h5>
    </div>
    <% if @unconfirmed_meals.length == 0 %>
    <div class="container upcoming-unconfirmed-meals-container">
      <div class="row scroll">
        <%= render partial: "no_meal"%>
        </div>
      </div>
    <% end %>
    <div class="container upcoming-unconfirmed-meals-container">
      <div class="row scroll">
        <% @unconfirmed_meals.each do |meal| %>
        <%= link_to meal_path(meal) do %>
        <%= render partial: "not_confirmed_meal", locals: {meal: meal} %>
        <% end %>
        <% end %>
      </div>
    </div>
    <% if @unconfirmed_meals.length > 1 %>
    <div class="scroll-prompt-button-top"><p>scroll for details</p></div>
  <% end %>
  </div>

  <div class="upcoming-header text-center confirmed-stripe">
    <h3>upcoming meals</h3>
    <h5>you have <%= current_user.upcoming_confirmed_meals.length %> upcoming meals</h5>
  </div>
  <div class="container upcoming_confirmed_and_cancelled_meals">
    <div class="row scroll">

      <% if @meals.length == 0 %>
        <div class="container upcoming-unconfirmed-meals-container">
          <div class="row scroll">
            <%= render partial: "no_meal"%>
          </div>
        </div>
      <% end %>

      <% @meals.each do |meal| %>
        <%= link_to meal_path(meal) do %>
          <% if meal.status == "Confirmed" %>
            <%= render partial: "confirmed_meal", locals: {meal: meal, status: meal.status} %>
          <% elsif meal.status == "Cancelled" %>
      <!-- RENDER CANCELLED -->
            <%= render partial: "canceled_meal", locals: {meal: meal, status: meal.status} %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if @meals.length > 1 %>
  <div class="scroll-prompt-button-bottom"><p>scroll for details</p></div>
  <% end %>
  </div>
</div>
