<div class="wrapper availabilities-container">
  <%= month_calendar events: @availabilities, attribute: :date do |date, availabilities| %>
    <%= date %>
    <div data-date="<%= date %>">
      <% availabilities.each do |availability| %>
        <div data-availability-id="<%= availability.id %>">
          <% if date >= Date.today  && date <= Date.today + 13%>
          <%= link_to availability_delete_path(date: availability.date.to_s), method: :delete, remote: true do %>
          <div class="day-applied">
          </div>
          <% end %>
          <% else %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
    <div class="button-containter">
      <%= link_to "Back to Dashboard", dashboard_path, class: "btn btn-default back-button"%>
    </div>
  </div>
