<<<<<<< HEAD
<div class="wrapper">
  <div class="calendar">
    <%= month_calendar events: @availabilities, attribute: :date do |date, availabilities| %>
    <%= date.day %>

    <% availabilities.each do |availability| %>

    <div data-availability-id="<%= availability.id %>" data-date="<%= date %>">
      <% if( date >= Date.today && date <= Date.today + 21) %>
      <%= link_to availability_delete_path(date: availability.date.to_s), method: :delete, remote: true do %>
      <div class="day-applied">
        <i class="fab fa-angellist"></i>
      </div>
      <% end %>
      <% else %>
      <div class="day-applied">
        <i class="fa fa-check" aria-hidden="true"></i>
      </div>
      <% end %>
    </div>

    <% end %>
    <% end %>
    <div class="button-containter">
      <%= link_to "Back to Dashboard", dashboard_path, class:"btn btn-default back-button"  %>
    </div>
  </div>


</div>
