<div class="wrapper">
  <h1>Calendar</h1>

  <%= simple_form_for @availability do |f| %>
  <%= f.input :date, as: :string, input_html: {class: "datepicker"} %>
  <%= f.button :submit, "Add Availability" %>
  <% end %>

  <ul>
    <% @availabilities.each do |availability|%>
    <li>
      <%= link_to availability_delete_path(availability), method: :delete, data: {confirm: "Do you wish to remove the current availability?"} do %>
      <div><p><%=  availability.date%></p></div>
      <% end %>
    </li>
    <% end %>
  </ul>

  <%= link_to "Back to Dashboard", dashboard_path %>

</div>
