<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Flavour - Add some flavour to your community</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"> -->
  <%= stylesheet_pack_tag "map" %>
  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>
<body>
  <% unless action_name == "home" || current_page?(controller: 'devise/sessions', action: 'new') || current_page?(controller: 'devise/registrations', action: 'new')%>
    <%= render 'shared/navbar' %>
  <% end %>

      <%= render 'shared/flashes' %>
      <%= yield %>

    <% unless action_name == "home" || current_page?(controller: 'devise/sessions', action: 'new') || current_page?(controller: 'devise/registrations', action: 'new')%>
      <%= render 'shared/navdock' %>
    <% end %>

  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'map' %>
</body>
</html>
